<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org " th:replace="base::layout(~{::section})">
<head>
	
<meta charset="utf-8">
<title>Home Page</title>




</head>
<body>

<section class="banner">
	
	<div class="text-center">
		<h1 class="h1color">Smart Contact Manager</h1>
		
		<h4 class="h1color"> Start cillectiong your Contact Nummber in a very smart way</h4>
		<button type="button" class="btn btn-outline-success btn-lg">Get Start</button>
		
		
	</div>
	
	
	
	
	
</section>

</body>
</html>