<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org " th:replace="base::layout(~{::section})">

<head>

	<meta charset="utf-8">
	<title>about Page</title>
</head>

<body>

	<section>

		<div class="container">
			
			<!--	<div th:if="${session.massages}" th:classappend="${session.massages.type}" class="alert" role="alert">
					<p th:text="${session.massages.content}"></p>
					<th:block th:text="${#session.massages}"></th:block>
				</div>
				
			<div th:if="${session.massages}" th:classappend="${session.massages.type}" class="alert" role="alert">
				
				<p th:text="${session.massages.content}"></p>
				
			<th:block th:text="${session.massages}"></th:block> 
				
			</div>-->

			<div th:if="${session.massages}">
				<div th:class="'alert ' + ${session.massages.type}" th:text="${session.massages.content}"></div>
				 
			</div>
			
			<h2>Sign Up</h2>
			<form novalidate  th:action="@{/do_register}" method="post" th:object="${user}">

				<div class="form-group">
					<label for="username">Username:</label>
					<input name="Name" type="text" id="username" placeholder="Enter Name"  th:value="${user.Name}" class="form-control " 
					 th:classappend="${#fields.hasErrors('Name') ? 'is-invalid' : ' '}" >

					<div class="invalid-feedback" th:each="e : ${#fields.errors('Name')}" th:text="${e}">
						
					</div>
					<!---<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="invalid-feedback"></div>-->
				</div>
				<div class="form-group">
					<label for="email">Email:</label>
					<input name="Email" type="email" id="email" required th:value="${user.email}">
				</div>
				<div class="form-group">
					<label for="password">Password:</label>
					<input name="Password" type="password" id="password" th:value="${user.password}" required>
				</div>

				<div class="form-group">
					<textarea name="About" rows="3" class="form-control" placeholder="Enter some thing about your self"
						th:text="${user.about}"></textarea>
				</div>
				<input type="submit" value="Sign Up" >
			</form>
			<div class="form-footer ">
				Already have an account? <a href="/login">Login</a><br>
				<a href="#">Forget password </a>
			</div>
		</div>

	</section>

</body>

</html>